<header class="header">
  <div><a  routerLink="/tax-calculator"> <img src="assets/natujenge.svg" /></a></div>
  <nav class="nav">
    <ul>
      <li>
        <a
          class="links"
          routerLink="/team-members"
          routerLinkActive="activebutton"
          ariaCurrentWhenActive="page"
          >Team members</a
        >
      </li>
      <li><a class="links" href="https://www.meliora.co.ke/articles/nvrjgtnsgh5ophs6mm" target="_blank" >OYF Bootcamp </a></li>
    </ul>
<hr>

  </nav>
</header>
