<h3>Group2 Team Memebers </h3>
<div class="team-members">
    <mat-card class="example-card">
        <mat-card-title-group>
            <mat-card-title>Collins</mat-card-title>
            <mat-card-subtitle>Front-End</mat-card-subtitle>
        </mat-card-title-group>
        <mat-card-content>
            <a href="https://github.com" target="_blank"><fa-icon style="font-size: 30px; color: antiquewhite;" [icon]="faGithub "></fa-icon></a>
        </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
        <mat-card-title-group>
            <mat-card-title>Calvin</mat-card-title>
            <mat-card-subtitle>Front-End</mat-card-subtitle>
        </mat-card-title-group>
        <mat-card-content>
            <a href="https://github.com" target="_blank"><fa-icon style="font-size: 30px; color: antiquewhite;" [icon]="faGithub "></fa-icon></a>
        </mat-card-content>
    </mat-card> 
    <mat-card class="example-card">
        <mat-card-title-group>
            <mat-card-title>Barongo</mat-card-title>
            <mat-card-subtitle>Front-End</mat-card-subtitle>
        </mat-card-title-group>
        <mat-card-content>
            <a href="https://github.com" target="_blank"><fa-icon style="font-size: 30px; color: antiquewhite;" [icon]="faGithub "></fa-icon></a>
        </mat-card-content>
    </mat-card> 
    <mat-card class="example-card">
        <mat-card-title-group>
            <mat-card-title>Alvin</mat-card-title>
            <mat-card-subtitle>Front-End</mat-card-subtitle>
        </mat-card-title-group>
        <mat-card-content>
            <a href="https://github.com" target="_blank"><fa-icon style="font-size: 30px; color: antiquewhite;" [icon]="faGithub "></fa-icon></a>
        </mat-card-content>
    </mat-card> 
    <mat-card class="example-card">
        <mat-card-title-group>
            <mat-card-title>Steven Musembi</mat-card-title>
            <mat-card-subtitle>Front-End</mat-card-subtitle>
        </mat-card-title-group>
        <mat-card-content>
            <a href="https://github.com/stevomusembi" target="_blank"><fa-icon style="font-size: 30px; color: antiquewhite;" [icon]="faGithub "></fa-icon></a>
        </mat-card-content>
    </mat-card> 
</div>