.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;

}


.button {
    border-radius: 6px;
    border: 1px solid #808080;
  background-color: rgba(36, 54, 57, 0.313);

    display: inline-block;
    cursor: pointer;
  color: #0b0c0c;
    
    font-size: 12px;
    font-weight: 400;
    padding: 6px 12px;
    text-decoration: none;
    
}
.activebutton {
    background-color:#595b83;
    color:rgb(0, 0, 0);
}
.navs{
    display: flex;
    justify-content: space-evenly;
    padding: 0 90px;
}