.container{
    display: grid;
    place-items: center;
    h2{
        padding: 10px 0;
    }
    label{
        font-size: 16px;
    }
}
.gross-form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    // border: rgb(168, 167, 167) solid;
    // height: 50px;
    padding: 10px;
}
.gross-input{
    margin: 0 10px;
    width: 150px;
    height: 15px;
    padding: 10px;
    letter-spacing: 1px;
    font-size: 18px;
}
.btn{
    background-color:#595b83;
    padding: 6px 12px;
    border-radius: 15px;
    color:black;
    border: rgba(255, 255, 255, 0) 1px ;
    font-size: larger;
    cursor: pointer;
}
.tax-breakdown-card{
    background-color: rgb(183, 205, 224);
    margin: 20px 50px 20px 0px;
    padding: 20px;
}
.tax-input-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
.form-control{
    width: 150px;
    height: 15px;
    padding: 10px;
    letter-spacing: 1px;
    font-size: 18px;
    margin: 10px 10px;
}