
<div class="container">
    
    <h2>Calculate your PAYE and Net Salary</h2>
    <form>  
    <hr>
    <div class="gross-form">
        <label >Enter your Gross Salary</label>
        <input type = "text" class="gross-input" name="gross" [(ngModel)] = "gross" placeholder="Gross salary">
        <button  (click)="calculate()" class="btn btn-primary mt-4">Submit</button>

      </div>
    <div class="tax-input-info" >
        <label >Net Pay</label>
        <input  class="form-control"  placeholder="Total" value="{{ netPay}}">
    </div>
    <div  class="tax-input-info" >
      <label >Nssf Contribution</label>
      <input  class="form-control"  placeholder="Total" value="{{ nssf }}">
    </div>
    <div  class="tax-input-info">
        <label >Taxable Income</label>
        <input  class="form-control"  placeholder="Total" value="{{ taxable }}">
    </div> 
    <div  class="tax-input-info">
        <label >Tax Before Relief</label>
        <input  class="form-control"  placeholder="Total" value="{{ taxBeforeRelief}}">
    </div>
    <div  class="tax-input-info">
        <label >Personal Relief</label>
        <input  class="form-control"  placeholder="Total" value="{{ personalRelief }}">
    </div>
     
    <div  class="tax-input-info">
        <label >Insurance/NHIF Relief</label>
        <input  class="form-control"  placeholder="Total" value="{{ insurance }}">
    </div>
    <div  class="tax-input-info" >
        <label >PAYE:</label>
        <input  class="form-control"  placeholder="Total" value="{{ paye }}">
    </div>
    <div  class="tax-input-info">
        <label >NHIF Contribution:</label>
        <input  class="form-control"  placeholder="Total" value="{{ nhif }}">
    </div>
     
      </form>
    </div>
