/* You can add global styles to this file, and also import other style files */

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


*{
    padding:0;
    margin:0;
}

body{
    font-family:Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    // background-color:hsl(200, 12%, 90%);
    height: 100%;
    
}
.app-root{
    display: flex;
    flex-direction: column;
    // height: 100%;
    justify-content: space-between;
}
.tax-section {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0.5%;
    font-size: large;
    font-weight: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    /* height: 500px; */
}
.tabs{
    display: grid;
    place-items: center;
}
.input-size{
    align-items: center;
    width:100px;
    height: 25px;

    box-shadow:azure;
}
.bill-section{
    align-items: center;
    justify-content: center;
    font-size: large;
    font-weight: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;

}
.btn-1 {
    margin: 4px;
    border-radius: 20px;
    height: 30px;
    width: 100px;
    color: #000000;
    background-color:#688383;

}
.salary-form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 10px;
}
.breakdown{
    display: grid;
    place-items: center;
}

.expense-list{
    display: grid;
    place-items: center;
}
.expense-form{
    display: flex;
    flex-wrap: wrap;
}
.expense-form input{
    margin: 10px;
}
#gross-salary{
    width:170px;
    height: 25px;
    
}
.info{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    font-weight:bold;

}



/* Bill */
.bill {
    float: right;
    width: 50%;
    padding: 2%;
}




/* Footer */
.footer {
    width: 100%;
  position:absolute;
  bottom: 0;
    margin-top: auto;
    background: #595b83;
    display: flex;
    height: 100px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:#fff;
}


